<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="location-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>Consulta CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item style="margin-bottom: 10px;"> 
      <ion-label position="floating">Digite o CEP</ion-label>
      <ion-input [(ngModel)]="cep"></ion-input>
    </ion-item>
    <ion-button (click)="consultaEndereco()" expand="block">
      Pesquisar
    </ion-button>
  </ion-card>

  <!-- Resultado da Busca -->
  <ion-card>
    <div *ngIf="endereco.cidade">
      <ion-list lines="full">
        <ion-item>
          <ion-label> <span class="tit">Logradouro:</span> <p> {{ endereco.tipo_logradouro }} {{ endereco.logradouro }}</p> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> <span class="tit">Bairro:</span> <p>{{ endereco.bairro }}</p> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> <span class="tit">Cidade:</span> <p>{{ endereco.cidade }}</p> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> <span class="tit">Estado:</span> <p>{{ endereco.uf }}</p> </ion-label>
        </ion-item>
      </ion-list>
    </div> 
  </ion-card>
</ion-content>

  <!--
    VIA CEP
      "logradouro": "Praça da Sé",
      "complemento": "lado ímpar",
      "bairro": "Sé",
      "localidade": "São Paulo",
      "uf": "SP",
  -->

  <!--
    VIA REPUBLICA
    "uf":"RS",
    "cidade":"Porto Alegre",
    "bairro":"Passo D'Areia",
    "tipo_logradouro":"Avenida",
    "logradouro":"Assis Brasil"
  -->

